.navbar {
    background-color: hsl(243, 75%, 65%);
    border-bottom: 1px solid #e5c4c4;
    color: #fff;
    width: 100%;
    top: 0;
    position: sticky;
  }
  .add-more-btn {
    border-radius: 6px;
    outline: none;
    border: 1px solid gray;
    padding: 6px 10px;
  }
  