.app-sidear {
    width: 18rem;
    height: 90vh;
    overflow: auto;
    background-color: hsl(243, 75%, 65%);
}

.app-sidebar__item {
    padding: 4px 14px 4px 14px;
}

.app-sidebar__item:hover {
    background-color: rgb(67 56 202);
    border-radius: 8px;
}

.app-sidebar__item span {
    background-color: #fff;
}

.activity-type-length {
    padding: 0.2rem 0.4rem;
}

.selected {
    background-color: rgb(67 56 202 / 1);
    border-radius: 8px;
}

.activity-card {
    border: 1px solid silver;
}

.add-more-activity-btn {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid gray;
    background: hsl(243, 75%, 65%);
    color: white;
}

.cancel-btn {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

.save-btn {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: #007A5C;
    color: #fff;
}