@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto:wght@300;400;500&display=swap');




.showTask {
    display: none;
}

.activity-container {
    background-color: hsla(243, 75%, 75%, 0.537);
}

.activity-name {
    color: rgb(67 56 202);
    font-size: 2.5rem;
    padding-left: 0.4em;
    padding-bottom: 0.3em;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
}

.tasks div {
    color: #753c3f;
    font-size: 1rem;
    font-weight: 600;
}

.tasks-container {
    padding-left: 1em;
    padding-right: 1em;
}

.task-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.days {
    font-size: 1.8rem;
    font-family: 'roboto';
    font-weight: 600;
    display: inline;
    text-transform: capitalize;
    color: aliceblue;
}

.task-name {
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'roboto';
    font-weight: 400;
    margin-top: 0.5em;
    max-width: 20em;
}

.tasks-container:nth-of-type(even) {
    background-color: rgba(68, 56, 202, 0.705);
}

.tasks-container:nth-of-type(odd) {
    background: hsla(243, 75%, 65%, 0.536);
}



.activity-inner-container {
    padding-top: 1rem;
}

.trash-icon {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: hsl(348, 63%, 47%);
    padding: 0.5em;
}


.trash-icon:hover {
    background-color: hsla(240, 33%, 97%, 0.202);
}