@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto:wght@300;400;500&display=swap');
@media (max-width: 1024px) {
    .check-boxes-inner-container {
    padding: 1.05rem !important;
}
    
  }



.showTask {
    display: none;
}

.activity-container {
    background-color: hsla(243, 75%, 75%, 0.537);
}

.activity-name-container {
    border-right: 2px solid rgba(18, 13, 97, 0.314);
    padding: 1em;
}

.activity-name {
    color: rgb(67 56 202);
    font-size: 2.5rem;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
}

.tasks div {
    color: #753c3f;
    font-size: 1rem;
    font-weight: 600;
}





.task-inner-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em 1em 1em;
    border-right: 2px solid rgba(238, 238, 242, 0.581);
}
@media (max-width: 425px) {
    .task-inner-container-2 {
        display: block;
        text-align: center;
        align-items: center;
        padding: 1em 0.2em 1em 0.2em;
        border-right: 2px solid rgba(238, 238, 242, 0.581);
    }
    .activity-name-container {
        border-right: 2px solid rgba(18, 13, 97, 0.314);
        padding: 1em;
        text-align: center;
    }
    
  }

.days {
    font-size: 1.8rem;
    font-family: 'roboto';
    font-weight: 600;
    display: inline;
    text-transform: capitalize;
    color: aliceblue;
}

.task-name {
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'roboto';
    font-weight: 400;
    margin-top: 0.5em;
    max-width: 20em;
}

.tasks-container:nth-of-type(even) {
    background-color: rgba(68, 56, 202, 0.705);
}

.tasks-container:nth-of-type(odd) {
    background: hsla(243, 75%, 65%, 0.536);
}


.trash-icon {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: hsl(348, 63%, 47%);
    padding: 0.3em;
}


.trash-icon:hover {
    background-color: hsla(240, 33%, 97%, 0.202);
}

.activity-inner-container {
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
}
/* @media (min-width: 1025px) and (max-width:2560px) {
    .activity-inner-container {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: 30% 100% !important;
        overflow: hidden !important;
    }
    .task-inner-container {
        display: grid !important;
        grid-template-columns: 30% 100% !important;
        align-items: center !important;
        grid-gap: 0.01em !important;
        width: 100% !important;
        overflow: hidden !important;
    }
   
    
  } */


.task-inner-container {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    grid-gap: 0.01em;
    overflow: hidden;
}

.day-container {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.day-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.37);
    height: 100%;
    padding: 1rem;
    width: 100%;
}
.check-boxes-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    padding: 1rem;
    width: 100%;
}


.main-div-checkboxes{
    display: flex;
    height: 100%;
    overflow-x: auto !important;
}
.input-checked-box{
    margin: 0px;
}
.week-end{
    background-color:orange ;
    text-align: center;
    display: flex;
    align-items: center;
}
.visiblity-hidden{
    visibility: hidden;
    padding: inherit;

}

.day-inner-container p {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'roboto';
}

.day-inner-container p:first-of-type {
    border-bottom: 1px solid black;
}

.day-inner-container hr {
    width: full;
}