.modal2-container {
    width: 60%;
    height: 60%;
    background-color: rgb(232, 227, 227);
    position: absolute;
    left: 25%;
    top: 25%;

}

.modal2-inner-container {
    padding: 2em;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    height: 100%;
}

.modal2-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left: 0;
}

.modal2-header h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.task-heading {
    font-size: 3rem;
    font-weight: 600;
}

.modal2-task-inner-container {
    padding: 0.5em;
    border: 1px solid black;
    display: flex;
}

.add-more-task-btn {
    justify-self: left;
}

.modal2-container-footer {
    border: 1px solid black;
}

.cancel-btn {
    background-color: #da2121e6;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid gray;
    cursor: pointer;
}

.cross-icon {
    color: rgba(89, 78, 78, 0.674);
    cursor: pointer;
    background-color: transparent;
}

.cross-icon :hover {
    color: rgba(238, 46, 46, 0.846);
    background-color: hsla(0, 74%, 78%, 0.951);
}