.modal2-container {
    width: 70%;
    height: 60%;
    background-color: rgb(232, 227, 227);
    position: absolute;
    left: 18%;
    top: 25%;
    border: 1px solid black;

}

.modal2-inner-container {
    padding: 2em;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    /* flex-direction: column; */
    height: 100%;
    width: 100%;
}

.modal2-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left: 0;
}

.modal2-header h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.task-heading {
    font-size: 3rem;
    font-weight: 600;
}

.modal2-task-container {
    margin-top: 1em;
    padding: 0.5em;
    width: full;
}

.modal2-task-inner-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 90% 10%;
    gap: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(111, 111, 107);
}

.modal2-task-inner-container2 {
    display: flex;
    gap: 2em;
}

.modal2-outer-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
}

.add-more-task-btn {
    align-self: flex-start;
    background: hsla(243, 75%, 65%, 0.536);
    padding: 0.5em 0.8em;
    border: none;
    color: azure;
    font-weight: 600;
    font-size: 1.8rem;
}

.modal2-container-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}

.cancel-btn {
    background-color: #da2121e6;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid gray;
    cursor: pointer;
}

.cross-icon {
    color: rgba(89, 78, 78, 0.674);
    cursor: pointer;
    background-color: transparent;
}

.cross-icon :hover {
    color: rgba(238, 46, 46, 0.846);
    background-color: hsla(0, 74%, 78%, 0.951);
}